<html ng-app="App">
  <head>
 <title>Email Template</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        $(window).on("load",()=>{
            try{
              console.log($.cookie().FirstName.length);               
            }
            catch(error){
               window.location.href='/Email/';
            }
        });
    </script>
  </head>
  <body ng-controller="MyController">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><h3>Email Template</h3></a>
  <ul class="navbar-nav">      
      <li class="nav-item">
          <a class="nav-link" href="CommonTemplate" id="navbardrop"></a>
      </li> 
      <li class="nav-item">
          <a class="nav-link" href="CommonTemplate" id="logout">Log Out</a>
      </li>             
  </ul>
 </div>
</nav>
    <form>
    <div class="container mt-3"> 
       <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-md-3">
                <h4>GCIC Work</h4> 
              </div>
              <div class="col-md-3">
                 <input type="text" id="FirstName" ng-model="data.FirstName" class="form-control">
              </div>
              <div class="col-md-3">
                <input type="text" id="LastName" ng-model="data.LastName" class="form-control">
              </div>
              <div class="col-md-3">
                <input type="text" id="EmpID" ng-model="data.EmpID" class="form-control">
              </div>
            </div>                                                 
          </div>
      <div class="card-body">         
       <div class="row">
        <div class="col-md-3">
             <div class="form-group">
                  <label for="caption">Caption :</label>
                  <input type="text" class="form-control" id="caption" ng-model="data.caption"> 
             </div> 
         </div>
        <div class="col-md-6">
          <div class="form-group">
                <label for="emailwithtime">Email & Received Time :</label>
                <input type="text" class="form-control" id="emailwithtime" ng-model="data.emailwithtime"> 
             </div>
         </div>
        <div class="col-md-3">
          <div class="form-group">
              <label for="senttime">Sent Time :</label>
              <input type="text" class="form-control" id="senttime" ng-model="data.senttime"> 
            </div>
         </div> 
      </div> 
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
           <div class="form-group">
              <label for="receivedemail">Received Mail : </label>
              <textarea type="text" class="form-control" id="receivedemail" rows="22" ng-model="data.receivedemail"></textarea> 
            </div> 
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="sentmail">Sent Mail : </label>
              <textarea type="text" class="form-control" id="sentmail" rows="22" ng-model="data.sentmail"></textarea> 
            </div> 
        </div>
      </div>     
        <div class="text-center">
          <button class="btn btn-success" ng-click="Save(data)">Save</button>                         
        </div>
      </div>
     </div>
    </div>
    </form>
    <div class="container">
      <div class="row">
        <div class="col-md-12" ng-repeat="value in model">
          <div class="card" id="{{value.ID}}">
            <div class="card-header">
              <h5>{{value.Caption}}</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  <input type="text" class="form-control" 
                         value="{{value.FirstName+' '+value.LastName+' '+value.EmpID+' '+'Online Support Team'}}">
                  <br><br><br>
                  <textarea class="form-control" rows="5">{{
                      'Email sent to customer.\n\n'+
                      value.FirstName+'\n'+
                      value.LastName+'\n'+
                      value.EmpID+'\n'+
                      'Online Support Team'
                    }}</textarea>
                </div>
                <div class="col-md-8">
                  <textarea class="form-control" rows="18">{{
                       value.EmailID+' '+'view all '+value.SentTime+'\n'+
                       value.SentMail+'\n\n'+value.EmailID+' sent mail on '+value.ReceiveTime+'\n'+
                       value.ReceivedMail
                    }}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    
    <script>
      $(document).ready(()=>{
        $('#navbardrop').append('Hi '+$.cookie().FirstName);
             $('#FirstName').val($.cookie().FirstName);
              $('#LastName').val($.cookie().LastName);
              $('#EmpID').val($.cookie().EmpID);           
               
        //LogOut
      $('#logout').on("click",()=>{                
      $.removeCookie('FirstName',{path: '/'});
      $.removeCookie('LastName',{path: '/'});
      $.removeCookie('EmpID',{path: '/'});
      window.location.href='/Email/';      
    });
      
      });
      </script>
    <script>
    var app=angular.module("App",[])
            .controller("MyController",($scope)=>{
              $scope.model=[];
                $scope.Save=(data)=>{
                  let index=Math.random();
                  let email= data.emailwithtime.slice(0,data.emailwithtime.search("view"));
                  let rectime= data.emailwithtime.slice(data.emailwithtime.search("all")+3);
                  let temp={
                            ID:index,
                            FirstName:data.FirstName, 
                            LastName:data.LastName,
                            EmpID:data.EmpID ,
                            Caption:data.caption,
                            EmailID:email.trim(),
                            ReceiveTime:rectime.trim(),
                            SentTime:data.senttime, 
                            ReceivedMail:data.receivedemail,
                            SentMail: data.sentmail
                           };
                  $scope.model=[temp,...$scope.model];
                   Reset(data);
                };
              
              let Reset=(data)=>{
                 data.caption='';
                 data.emailwithtime='';
                 data.caption='';
                 data.senttime='';
                 data.receivedemail='';
                 data.sentmail='';
              };
              
            });
        
     
    </script>
  </body>
</html>
