<html ng-app="App">
  <head>
 <title>Email Template</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        $(window).on("load",()=>{
            try{
                console.log($.cookie().FirstName.length);
            }
            catch(error){
               window.location.href='/Email/';
            }
    </script>
  </head>
  <body ng-controller="MyController">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><h3>Email Template</h3></a>
  <ul class="navbar-nav">      
      <li class="nav-item">
          <a class="nav-link" href="CommonTemplate" id="navbardrop"></a>
      </li> 
      <li class="nav-item">
          <a class="nav-link" href="CommonTemplate" id="logout">Log Out</a>
      </li>             
  </ul>
 </div>
</nav>
    <div class="container mt-3"> 
       <div class="card">
          <div class="card-header">
            <h4>GCIC Work</h4>
             <input type="hidden" id="FirstName" ng-model="FirstName">
             <input type="hidden" id="LastName" ng-model="LastName">
             <input type="hidden" id="EmpID" ng-model="EmpID">
          </div>
      <div class="card-body">         
       <div class="row">
        <div class="col-md-3">
             <div class="form-group">
                  <label for="caption">Caption :</label>
                  <input type="text" class="form-control" id="caption"> 
             </div> 
         </div>
        <div class="col-md-6">
          <div class="form-group">
                <label for="emailwithtime">Email & Received Time :</label>
                <input type="text" class="form-control" id="emailwithtime"> 
             </div>
         </div>
        <div class="col-md-3">
          <div class="form-group">
              <label for="senttime">Sent Time :</label>
              <input type="text" class="form-control" id="senttime"> 
            </div>
         </div> 
      </div> 
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
           <div class="form-group">
              <label for="receivedemail">Received Mail : </label>
              <textarea type="text" class="form-control" id="receivedemail" rows="22"></textarea> 
            </div> 
        </div>
        <div class="col-md-6">
          <div class="form-group">
              <label for="sentmail">Sent Mail : </label>
              <textarea type="text" class="form-control" id="sentmail" rows="22"></textarea> 
            </div> 
        </div>
      </div>     
        <div class="text-center">
          <button class="btn btn-success">Save</button>                         
        </div>
      </div>
     </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" ng-repeat="">
          
        </div>
        </div>
      </div>
    </div>
    
    <script>
      $(document).ready(()=>{
         $('#navbardrop').append('Hi '+$.cookie().FirstName);
        $('#FirstName').val($.cookie().FirstName);
        $('#LastName').val($.cookie().LastName);
        $('#EmpID').val($.cookie().EmpID);
        
        Console.log($('#FirstName').html());
        //LogOut
         $('#logout').on("click",()=>{                
      $.removeCookie('FirstName',{path: '/'});
      $.removeCookie('LastName',{path: '/'});
      $.removeCookie('EmpID',{path: '/'});
      window.location.href='/Email/';      
    });
      });
    </script>
    <script>
    var app=angular.module("App",[])
            .controller("MyController",($scope)=>{
                $scope.
            });
    </script>
  </body>
</html>
